$primary: #74ff97;
$danger: #dc3545;
$warning: #f8a306;
$maintenance: #1747f5;
$link-color: #111;
$border-radius: 25rem;

$highlight: #9dffd0;
$highlight-white: #e7faec;

$dark-font-color: #b1b8c0;
$dark-font-color2: #020b05;
$dark-font-color3: #575c62;
$dark-bg: #0d1117;
$dark-bg2: #070a10;
$dark-border-color: #1d2634;
$dark-header-bg: #161b22;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;

$primary-gradient: linear-gradient(135deg, #b0ff74 0%, #74ffbc 75%, #86e6a9);
$primary-gradient-active: linear-gradient(
  135deg,
  #ecff74 0%,
  #7bff74 50%,
  #86e6a9
);

// Decrease font size and paddings
$font-size-root: 0.875rem;
$spacer: 0.5rem; // Changes base spacing to 8px instead of default 16px
