name: Node.js CI - Dockge

on:
  push:
    branches: [master]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "*.md"

permissions:
  packages: write

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22] # Can be changed
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - run: | # Mainly for Windows
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Uh
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Check Typescript
        run: pnpm run check-ts

      - name: Build and publish a Docker image ghcr.io/${{ github.repository }}
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: "./docker/Dockerfile"
